.textstroke-blue {
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #383a85;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  paint-order: stroke fill;
}

.textstroke-white {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 0px 4px 20px #383a85;
  paint-order: stroke fill;
}
