@import "tailwindcss";

@theme {
  --color-navyPurple: #383a85;
  --color-softBlue: #5e8bba;
  --color-skyBlue: #8accef;
  --color-goldenOrange: #f4b132;
  --color-white: #ffffff;
  --color-lightYellow: #fffd80;
}
